* {
    padding: 0;
    margin: 0;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
}

body {
    background-image: url("../background/back.png");
    background-repeat: no-repeat;
    background-size: cover;

}

header {
    position: relative;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    height: 56px;
    max-width: 100%;
}
.link {
    color: #3cb878;
    text-decoration: none;
}
.link:hover {
    text-decoration: underline;
}
.sprite {
    background-image: url(../icons/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite1 {

    width: 19px;
    height: 19px;
    background-position: -5px -5px;
}
.sprite1:hover {
    background-image: url(../icons/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    width: 19px;
    height: 19px;
    background-position: -34px -5px;

}
.sprite2 {

    width: 28px;
    height: 20px;
    background-position: -63px -5px;
}
.sprite2:hover {
    background-image: url(../icons/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    width: 28px;
    height: 20px;
    background-position: -101px -5px;

}

.sprite3 {
    width: 20px;
    height: 20px;
    background-position: -139px -5px;
}
.sprite3:hover {
    background-image: url(../icons/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    width: 20px;
    height: 20px;
    background-position: -169px -5px;

}

.right {
    float: right;
    padding-right: 93px;
}

.header {
    padding-top: 18px;
}

i {
    margin-right: 28px;
    float: right;
}

.logo {
    position: absolute;
    top: 14px;
    text-transform: uppercase;
    padding-left: 81px;
    font-size: 26px;
    color: white;
    text-decoration: none;
}
.logo:hover {
    color: #3cb878;
    transition: 1s;
}


form {

    width: 322px;
    margin: 0 auto;
    padding-top: 30px;
}

.cube {
    position: absolute;
    left: 0;
    width: 18px;
    height: 18px;
    background-color: #3cb878;
}


.sign_up_form {
    position: relative;
    height: calc(100vh - 56px);

}


.form1 {
    margin: 0 auto;
    width: 444px;
    background-color: white;
    border-radius: 10px;
    height: 615px;
    position: absolute;
    top: calc(50% - 28px);
    left: 50%;
    transform: translate(-50%, -50%);
}

.sign {
    font-size: 20px;
}

.log {
    padding-top: 5px;
    font-size: 14px;
    float: right;
}


/*Две кнопки..............................................................................*/

.btn {
    margin-top: 20px;
    box-sizing: border-box;
    position: relative;
    width: 157px;
    height: 46px;
    padding: 14px 16px 16px 66px;
    font-size: 16px;
    border: none;
    text-align: left;
    border-radius: 2px;
    color: white;
}

.btn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 8px;
    width: 47px;
    height: 70%;
}

.btn:focus {
    outline: none;
}

.btn:active {
    box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
}

.face {
    background-color: #305db8;
}

.face:before {
    position: absolute;
    top: 7px;
    border-right: #364e92 1px solid;
    background: url('../pct/F.png') 6px 6px no-repeat;
}

.face:hover,
.face:focus {
    background-color: #264b96;
}

.google {
    float: right;
    background: #df4a32;
}

.google:before {
    position: absolute;
    top: 9px;
    border-right: #BB3F30 1px solid;
    background: url('../pct/G.png') 6px 6px no-repeat;
}
.google:hover,
.google:focus {
    background-color: #c3412c;
}


/*горизонтальная//////////////////////////////////////////////////////////////////////////////*/

.lineP {
    padding: 10px;
    text-align: center;
    position: relative;
}

.line {
    display: inline-block;
    width: 20px;
}

.lineP::before, .lineP::after {
    content: '';
    height: 1px;
    width: 135px;
    display: inline-block;
    background-color: #eaeaea;
}

.lineP::before {
    position: absolute;
    top: 19px;
    left: 0;
 }

.lineP::after {
    position: absolute;
    top: 19px;
    right: 0;
}

/*//////////////////////////////////////////*/


input {
    box-sizing: border-box;
    border: 1px solid #eaeaea;
    border-radius: 5px;
}
.input-box {
    box-sizing: border-box;
    width: 100%;
    height: 46px;
    padding: 5px;
    margin-top: 18px;
     font-size: 14px;
    outline: none;
}
.input-box:focus {
    box-shadow: -1px 4px 6px -1px rgba(0,0,0,0.47);
}

input::placeholder {
   color: #e1e1e1;
}

.last  {
    margin-bottom: 20px;
}




/*CHECKBOX////////////////////////////////////////////////*/

.checkbox {
    opacity: 0;
}

label {
    position: relative;
    display: inline-block;
      padding-left: 22px;
}

label::before {
    content: "";
    display: inline-block;
    height: 12px;
    width: 12px;
    border: 1px solid black;
    margin-right: 8px;
    position: absolute;
    left: -17px;
    top: 3px;
}

label::after {
    content: "";
    display: inline-block;
    height: 5px;
    width: 8px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    border-color: #3cb878 ;
    transform: rotate(-45deg);
    position: absolute;
    left: -15px;
    top: 5px;

}

.checkbox + label::after {
    content: none;
}

.checkbox:checked + label::after {
    content: "";
}


/*////////////////////////////////////////////////////////////*/

.create {
    margin-top: 28px;
    margin-bottom: 28px;
    height: 46px;
    width: 100%;
    background-color: #3cb878;
    color: white;
    text-align: center;
    font-size: 16px;
    border: none;
    border-radius: 3px;
}
.create:hover {
    background-color: #329a65;
}

button {
    cursor: pointer;
}